div.icon-right svg {
    margin-left: 10px;
}

div.icon-left svg {
    margin-right: 10px;
}

div.name h1 {
    margin-bottom: 40px;
}
div.title h2 {
    margin-bottom: 20px;
}

div.jumbotron {
    color: #fff;
    background-image: url(https://source.unsplash.com/category/nature/1600x400);
    background-size: cover;
    padding-bottom: 6px;
}
